body {
    width: 80%;
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
}

.form-group {
    padding: 15px;
}
.jumbotron{
    background-color: black;
    color: white;
}

#addToDatabase {
    margin-top: 20px;
}

.employee-header {
    color: whitesmoke;
    background-color: #0e71af;
    margin-bottom: 0;
    padding: 10px;    
}

p {
    font-weight: bold;
    font-size: 1em;
}

td {
    font-weight: normal;
}